<script setup lang="ts">
import { ref } from 'vue'

defineProps<{ msg: string }>()

const count = ref(0)
</script>

<template>
    <h5>h5 heading</h5>

    <img src="/happy_penguin.jpeg">
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
