h1 {
    background-color: #2B90B6;
    /*background-image: linear-gradient(45deg, #4EC5D4 10%, #146b8c 20%);*/
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    /*@apply gradient-to-r;
   */
    @apply text-transparent;
    /*@apply text-8xl;*/
    @apply bg-clip-text;
    @apply bg-gradient-to-r;
    @apply from-green-500;
    /*@apply via-purple-500;*/
    @apply to-blue-500;
    @apply opacity-100;
}

img {
    @apply m-auto;
}
